@import "tailwindcss";

:root {
  /* Forzamos el negro puro de tu dise침o */
  --background: #050505; 
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

/* 1. Forzar el scroll suave a nivel global */
html {
  scroll-behavior: smooth !important;
}

/* 2. Optimizaci칩n del Body para evitar saltos */
body {
  background-color: var(--background);
  color: var(--foreground);
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 3. El ajuste de precisi칩n para el Header Flotante */
section[id] {
  scroll-margin-top: 120px; /* Un poco m치s de espacio por el header flotante */
}